.element {
  border: 1px solid #eeeeee;
  width: 120px;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  transition: 0.1s ease-out;
}
.element:hover {
  border: 1px solid #fffbfbe3;
  background-color: #ffffffd3;
  color: #222222;
  cursor: pointer;
}
