body {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 4fr auto;
  grid-template-areas:
    "img tB"
    "clrB clrB ";
}

.grid-container .img-container {
  grid-area: img;
  background-color: #2222224f;
  height: 40rem;
  background-size: cover;
  filter: blur(0px);
  background-blend-mode: multiply;
  
}


.grid-container .img-container .img {
  height: 80%;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10%;
  box-shadow: 10px 10px 5px #0f0f0f8f;
  border-radius: 10px;
  
}

.grid-container .tagBar {
  grid-area: tB;
}
.grid-container .colorBar {
  grid-area: clrB;
  background-color: rgba(255, 160, 122, 0);
  height: 24.6vh;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 0.6fr 0.5fr;
    grid-template-areas:
      "img"
      "tB"
      "clrB";
  }
  
  .grid-container .img-container {
    grid-area: img;
    background-color: #2222224f;
    height: 40rem;
  }
  
  .grid-container .img-container .img {
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    max-width: 350px;
    max-height: 400px;
  }
  
  .grid-container .tagBar {
    grid-area: tB;
  }
  .grid-container .colorBar {
    grid-area: clrB;
    background-color: rgba(255, 160, 122, 0);
    height: 50vh;
  }
}