.bar_container{
    width: 100%;
    min-width: 300px;
    max-height: 35vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-align: center;
    margin: auto;
    row-gap: 1.5vh;
}

@media only screen and (max-width: 800px) {
}
