@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
$white : #ffffffab;
@mixin flex{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

@mixin reset {
    margin: 0;
    padding: 0;
}
.navbar {
    @include reset;
    height: 7vh;
    background-color: #2222224f;

    & .container{

        max-width: 95%;
        height: 100%;
        @include reset;
        margin: auto;
        @include flex;
        margin: 0 auto;

        & .list{
            list-style: none;
            @include reset;
            margin: auto 0;
            font-family: 'Righteous', cursive;
            display: flex;
            flex-direction: row;

            & .list_item{
                font-size: 30px;
                font-weight: 400;
                text-decoration: none;
                color: #cfcfcf;
                border-bottom: 1px solid $white;
                padding: 3px 5px;
                transition: 0.1s ease;
                background-color: transparent;

                &:hover{
                    border-width: 2px;
                    color: white;
                }
        }
    }

    }
}
