@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
	color: white;
    font-family: 'Righteous', cursive;
    background: rgb(117,0,96);
	background: linear-gradient(90deg, rgba(117,0,96,1) 0%, rgb(11, 58, 75) 90%);
}

button{
    cursor: pointer;
}