
.element-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end ;
  text-align: center;
}
.element {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  text-align: center;
  transition: 0.1s ease-out;
  font-size: 1.4vw;
  padding: 0.4vh 1vw;
  width: 65%;
}

.element:hover {
  border: 1px solid #fffbfbe3;
  background-color: #ffffffd3;
  color: #222222;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .element {
    border: 1px solid #eeeeee;
    width: 110px;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    margin: 2px;
    transition: 0.1s ease-out;
    font-size: 15px;
  }
}