.page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  width: 100vw;
}

.form_container {
  width: 50%;
  margin: auto;
  height: fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & .paragraph {
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
  }

  & .inputForm {
    width: 50vw;
    min-width: 360px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 7px 7px 10px #00050480;
    height: fit-content;
    padding: 2vh 0vh;
    margin-bottom: 5vh;

    & .input {
      width: 75%;
      min-width: 320px;
      height: 7vh;
      min-height: 40px;
      margin: 2vh 4px;
      border-radius: 4px;
      padding: 0% 1%;
      font-size: 0.9rem;
      border: 1px solid black;
      font-family: sans-serif;
      &:focus {
        outline: none;
      }
    }
    & .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.9;
      border: 3px solid rgb(236, 236, 236);
      border-radius: 4px;
      text-decoration: none;
      width: 20%;
      min-width: 110px;
      height: 7vh;
      min-height: 40px;
      margin: 0% 4px;
      background-size: 400% 400%;
      color: white;
      cursor: pointer;
      & .text{
        align-items: center;
        font-size: 24px;
      }

      &:hover {
        transition: ease-in-out 0.2s;
        transform: scale(0.97);
      }
    }
  }

  & .image {
    max-width: 80vw;
    max-height: 30vh;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px #00050467;
    border-radius: 3px;
    opacity: 0.9;
    z-index: -2;
  }
}

@media only screen and (max-width: 800px) {
  .form_container{
    width: 100%;
    .input{
      width: 90%;
    }
    & .paragraph {
      font-size: 32px;
      width: 100%;
    }  
    & .image{
      max-width: 80vw;
      max-height: 40vh;
    }
  }

}
